PROJECT_NAME="Personal Portfolio & CMS API"

# OPSI 1: Konfigurasi Terpisah (Direkomendasikan untuk Aiven)
DB_HOST=mysql-xxxx-your-aiven-host.aivencloud.com
DB_PORT=12345
DB_USER=avnadmin
DB_PASSWORD=your_aiven_password_here
DB_NAME=defaultdb
DB_SSL_MODE=REQUIRED

# OPSI 2: Connection String Lengkap (Opsional)
# DATABASE_URL=mysql+pymysql://avnadmin:your_password@mysql-xxxx.aivencloud.com:12345/defaultdb?ssl_mode=REQUIRED

# Kontrol Otomatisasi (Default: False agar aman untuk database Aiven Production)
AUTO_MIGRATE_AND_SEED=False

# Keamanan JWT
SECRET_KEY=generate_a_random_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
